<header>
  <h2>
    <%= t(".heading") %>
  </h2>
</header>

<ul class="organizations-dashboard">
  <% @decorated_organizations.each do |organization| %>
    <li class="organizations-dashboard-organization" data-organization-id="<%= organization.id %>">
      <div class="organizations-dashboard-organization-name">
        <h2><%= organization.name %></h2>
      </div>

      <span class="organizations-dashboard-organization-surveys">
        <span class="count"><%= organization.survey_count %></span>
        <p class="label"><%= Survey.model_name.human.pluralize(organization.survey_count) %></p>
      </span>

      <span class="organizations-dashboard-organization-responses">
        <span class="count"><%= organization.response_count %></span>
        <p class="label"><%= Response.model_name.human.pluralize(organization.response_count) %></p>
      </span>

      <span class="organizations-dashboard-organization-users">
        <span class="count"><%= organization.user_count %></span>
        <p class="label"><%= t("activerecord.models.user").pluralize(organization.user_count) %></p>
      </span>
    </li>
  <% end %>
</ul>

<script type="text/javascript">
  $('li.organizations-dashboard-organization').click(function(){
    window.location = "/dashboard/" + $(this).data('organization-id');
  })
</script>
