<%= render "layouts/status_bar", :status => "publish" %>
<h1><%= t ".publish_survey" %></h1>

<%= semantic_form_for @survey, :url => survey_publication_path(@survey.id), :method => :put do |f| %>
  <div class="expiry_date">
    <%= f.input :expiry_date, :as => :string, :required => true, :input_html => { :value => @survey.expiry_date, :class => 'date' } %>
  </div>

  <div class="crowd_source">
    <%= f.input :public, :as => :boolean, :label => "Crowd Source", :input_html => { :checked => @survey.public } %>
  </div>

  <div class="publish-to-users">
    <h2>Publish to users</h2>
    <h3>Published to:</h3>
    <ul>
      <% @published_users.each do |user| %>
        <li>
          <%= user.name %>
        </li>
      <% end %>
    </ul>
    <% if @unpublished_users.empty? %>
      There are no users you can publish to. Sorry.
    <% else %>
      <%= f.input :user_ids, :as => :check_boxes, :collection => @unpublished_users, :member_label => Proc.new { |user| user.name }, :label => "Choose users to publish to:" %>
    <% end %>
  </div>

  <div class="share-with-organizations">
    <h2>Share with an Organization</h2>
    <h3>Shared with:</h3>
    <ul>
      <% @shared_organizations.each do |org| %>
        <li>
          <%= org.name %>
        </li>
      <% end %>
    </ul>
    <% if @survey.organization_id == current_user_org %>
      <% if @unshared_organizations.empty? %>
        There are no organizations you can share with. Sorry.
      <% else %>
        <%= f.input :participating_organization_ids, :as => :check_boxes, :collection => @unshared_organizations, :member_label => Proc.new { |org| org.name }, :label => "Choose organizations to share with:" %>
      <% end %>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button , :label => t('.publish_survey')%>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true });
    $.datepicker.setDefaults($.datepicker.regional['<%= locale %>']);
  });
</script>
