<%= content_for :body_attributes do %> id="publish"<% end %>

<%= render "layouts/status_bar", :status => "publish" %>

<header>
    <h2><%= t ".publish_survey" %></h2>
</header>

<div id="publish_survey">
  <%= semantic_form_for @survey, :url => survey_publication_path(@survey.id), :method => :put do |f| %>
    <ol>
      <%= f.input :expiry_date, :as => :string, :required => true, :input_html => { :value => @survey.expiry_date, :class => 'date' } %>
      <%= f.input :public, :as => :boolean, :label => "Crowd Source", :input_html => { :checked => @survey.public } %>
    </ol>

    <div class="publish-to-users">
      <h3><%= t ".published_to_users" %></h3>
      <% if @published_users.present? %>
        <fieldset>
          <legend>Published to:</legend>
          <ol class="published">
            <% @published_users.each do |user| %>
              <li>
                <%= user.name %>
              </li>
            <% end %>
          </ol>
        </fieldset>
      <% end %>

      <% if @unpublished_users.empty? %>
        <fieldset>
          <legend>Choose users to publish to:</legend>
          There are no users you can publish to. Sorry.
        </fieldset>
      <% else %>
        <ol>
          <%= f.input :user_ids, :as => :check_boxes, :collection => @unpublished_users, :member_label => Proc.new { |user| user.name }, :label => "Choose users to publish to:" %>
        </ol>
      <% end %>
    </div>

    <% if @survey.organization_id == current_user_org %>
        <div class="share-with-organizations">
          <h3>Share with an Organization</h3>
          <% if @shared_organizations.present? %>
            <fieldset>
              <legend>Shared with:</legend>
              <ol class="published">
                <% @shared_organizations.each do |org| %>
                  <li>
                    <%= org.name %>
                  </li>
                <% end %>
              </ol>
            </fieldset>
          <% end %>

            <% if @unshared_organizations.empty? %>
            <fieldset>
              <legend>Choose organizations to share with:</legend>
              There are no organizations you can share with. Sorry.
            </fieldset>
            <% else %>
              <ol>
                <%= f.input :participating_organization_ids, :as => :check_boxes, :collection => @unshared_organizations, :member_label => Proc.new { |org| org.name }, :label => "Choose organizations to share with:" %>
              </ol>
            <% end %>
        </div>
    <% end %>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button , :label => t('.publish_survey')%>
    <% end %>

  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true });
    $.datepicker.setDefaults($.datepicker.regional['<%= locale %>']);
  });
</script>
