
<%= content_for :body_attributes do %> id="publish"<% end %>

<%= render "layouts/status_bar", :status => "publish" %>

<header>
    <h2><%= t ".unpublish_survey" %></h2>
</header>

<div id="publish_survey">
  <%= semantic_form_for @survey, :url => survey_publication_path(@survey.id), :method => :delete do |f| %>

    <div class="publish-to-users">
      <h3>Publish to users</h3>
      <% if @unpublished_users.present? %>
        <fieldset>
          <legend>Unpublished to:</legend>
          <ol class="published">
            <% @unpublished_users.each do |user| %>
              <li>
                <%= user.name %>
              </li>
            <% end %>
          </ol>
        </fieldset>
      <% end %>

      <% if @published_users.empty? %>
        <fieldset>
          <legend>Choose users to unpublish to:</legend>
          There are no users you can unpublish to. Sorry.
        </fieldset>
      <% else %>
        <ol>
          <%= f.input :user_ids, :as => :check_boxes, :collection => @published_users, :member_label => Proc.new { |user| user.name }, :label => "Choose users to publish to:" %>
        </ol>
      <% end %>
    </div>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button , :label => t('.unpublish_survey')%>
    <% end %>

  <% end %>
</div>

