<%= content_for :page_attributes do %>
  class="survey-builder-fullscreen-page"
<% end %>

<%= content_for :content_attributes do %>
  class="survey-builder-fullscreen-content"
<% end %>

<%= content_for :body_attributes do %> id="build_v2"
<% end %>

<div id="survey_builder_v2">
  <div id="survey-action-bar">
    <div id="saving-indicator">
      <div class="saving-indicator-failure">
        <i class="icon-exclamation-sign"></i>
        <span><%= t(".saving_indicator_failure_message") %></span>
      </div>
      <span class="saving-indicator-time-ago"><%= t(".saving_indicator_time_ago_label", :time => @survey.updated_at) %></span>

      <div class="saving-indicator-progress">
        <span class="saving-indicator-progress-label"><%= t(".saving_indicator_progress_label") %></span>
        <%= image_tag "spinner_v2.gif", :class => "saving-indicator-progress-spinner" %>
      </div>
    </div>

    <div class="survey-header">
      <div class="survey-header-left-pane">
        <div class="survey-metadata">
          <%= render 'v2_survey_builder/surveys/header', :mustache => @survey.attributes %>
        </div>
        <div class="survey-actions">
          <div class="survey-add-elements">
            <ul class="survey-add-elements-list">
              <li class="survey-add-elements-list-item">
                <button class="survey-action-button add-section"><i class="icon-plus"></i><%= t(".add_section_button_text") %></button>
              </li>

              <li class="survey-add-elements-list-item">
                <button class="survey-action-button add-question"><i class="icon-plus"></i><%= t(".add_question_button_text") %></button>
              </li>
            </ul>
          </div>
          <ul class="survey-actions-list">
            <li class="survey-actions-list-item">
              <button class="survey-action-button"><i class="icon-remove"></i><%= t('.survey_actions_close') %></button>
            </li>
            <li class="survey-actions-list-item">
              <button class="survey-action-button"><i class="icon-eye-open"></i><%= t(".survey_actions_preview") %></button>
            </li>
            <li class="survey-actions-list-item">
              <button class="survey-action-button"><i class="icon-save"></i><%= t(".survey_actions_save") %></button>
            </li>
          </ul>
        </div>
      </div>

      <div class="survey-header-right-pane">
        <div class="survey-actions">
          <ul class="survey-actions-list">
            <li class="survey-actions-list-item">
              <button class="survey-action-button"><i class="icon-trash"></i><%= t(".survey_actions_discard") %></button>
            </li>
            <li class="survey-actions-list-item">
              <button class="survey-action-button"><i class="icon-copy"></i><%= t(".survey_actions_duplicate") %></button>
            </li>
            <li class="survey-actions-list-item publish">
              <button class="survey-action-button"><i class="icon-share"></i><%= t(".survey_actions_publish") %></button>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="survey-header-edit">
      <div class="survey-header-edit-information">
        <%= render 'v2_survey_builder/surveys/header_edit', :mustache => @survey.attributes %>
      </div>

      <div class="survey-header-edit-logo"></div>

      <p>
        <button class="update-survey"><%= t(".survey_actions_update") %></button>
      </p>
    </div>
  </div>

  <div class="survey-panes">
    <div class="survey-panes-left-pane">
      <% @survey.ordered_question_tree.each do |question| %>
        <div class="question" data-id="<%= question.id %>">
          <%= render "v2_survey_builder/surveys/left_pane/single_line_question", :mustache => question.attributes %>
        </div>
      <% end %>
    </div>
    <div class="survey-panes-right-pane"></div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('.flash').remove();
    }, 2000);
  })

  new SurveyBuilderV2.Views.ActionBarView()
  new SurveyBuilderV2.Views.SurveyView({
    el: "#survey_builder_v2",
    survey: gon.survey_attributes,
    questions: gon.questions_attributes
  });
</script>