<header>
  <h2><%= t(".user_responses_dashboard_heading") %></h2>
</header>

<table class="responses-dashboard-table">
  <thead>
    <th><%= t(".date_table_heading") %></th>
    <th><%= t(".incomplete_table_heading") %></th>
    <th><%= t(".complete_table_heading") %></th>
  </thead>
  <tbody>

  <% @survey.reporter.response_counts_for(@user_id).counts.each do |count| %>
    <tr>
      <td><%= count.month %></td>
      <td><%= count.incompletes %></td>
      <td><%= count.completes %></td>
    </tr>
  <% end %>
  </tbody>
</table>