<div id="excel-dialog" title="<%= t('responses.excel.excel_dialog_title') %>">
  <div class="setup">
    <fieldset class="pick-date-range">
      <legend>
        <input id="date-range-checkbox" type="checkbox"></input>
        <label class='date-range' for="date-range-checkbox">Pick Date Range</label>
      </legend>

      <input disabled type="text" class="from-date date-picker" placeholder="<%= t('responses.excel.from_date')%>"></input>
      <input disabled type="text" class="to-date date-picker" placeholder="<%= t('responses.excel.to_date')%>"></input>
    </fieldset>

    <% if can? :change_excel_filters, @survey %>
      <fieldset class='other-settings'>
        <legend>
          <span>Settings</span>
        </legend>
        <div class="filter-private-questions">
          <input id="filter-private-checkbox" type="checkbox"></input>
          <label class='filter-private-label' for="filter-private-checkbox">Include Private Questions</label>
        </div>
      </fieldset>
    <% end %>


    <div class="error-message"></div>
    <button class="generate-button"><%= t("responses.excel.generate_excel") %></button>
    <button class="cancel-button"><%= t("responses.excel.cancel") %></button>
  </div>

  <div class="polling">
    <div id="dialog" title="<%= t('responses.excel.excel_dialog_title') %>">
      <%= image_tag 'spinner.gif', :class => "excel_spinner" %>
      <p class="polling-message"><%= t('responses.excel.excel_downloading_message') %></p>
    </div>
  </div>
</div>
