<%= stylesheet_link_tag 'responses' %>
<h1> Edit Response</h1>

<%= semantic_form_for [@survey, @response], :html => { :multipart => true } do |f| %>
  <%= f.semantic_fields_for :answers do |f| %>
    <% question = f.object.question %>

    <%= image_tag question.image.url(:medium) if question.image.exists? %>
    <%= @response.input_tag_for(question, f) %>

    <%= f.input :question_id, :as => :hidden %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => t('.save') %>
    <% unless @response.complete? %>
      <%= f.action :submit, :as => :button, :label => t('.mark_as_complete'), :button_html => { :id => 'complete_button' } %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true });
    $('.max_length').each(function(index){
      $(this).charCount({
        allowed: $(this).data('max-length'),
        warning: 5,
        counterText: 'Characters left: '        
      });
    });
    $('.star').each(function(index){
      $(this).raty({
        number: $(this).data('number-of-stars') || 5,
        click: function() {
          $(this).prev().children('input').val($(this).raty('score'))
        }
      });
    });
    $('#complete_button').click(function(){
      var action = $('form.response').attr('action')
      $('form.response').attr('action', action + '/complete')
    })
  })
</script>