<%= stylesheet_link_tag 'responses' %>
<style type="text/css">
  .question {
    padding-top: 10px;
    margin-left: 20px;
    border: 1px dashed black;
    }
  }
</style>
<h1> Edit Response</h1>

<%= semantic_form_for [@survey, @response], :html => { :multipart => true } do |f| %>
  <%= f.semantic_fields_for :answers do |f| %>
    <% question = f.object.question %>

    <div class="<%= "hidden" unless question.first_level?  %>">
      <%= image_tag question.image.url(:medium) if question.image.exists? %>
      <%= @response.input_tag_for(question, f) %>
      <%= f.input :question_id, :as => :hidden %>
    </div>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button, :label => t('.save') %>
    <% unless @response.complete? %>
      <%= f.action :submit, :as => :button, :label => t('.mark_as_complete'), :button_html => { :id => 'complete_button' } %>
    <% end %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true });
    $('.max_length').each(function(index){
      $(this).charCount({
        allowed: $(this).data('max-length'),
        warning: 5,
        counterText: 'Characters left: '        
      });
    });
    $('.star').each(function(index){
      $(this).raty({
        number: $(this).data('number-of-stars') || 5,
        score: $(this).data('score'),
        click: function() {
          $(this).prev().children('input').val($(this).raty('score'))
        }
      });
    });
    $(".question").each(function(i, div) {
      if (!$(div).hasClass('level-0')) {
        // $(div).hide();
      }
    })
    $('#complete_button').click(function(){
      var action = $('form.response').attr('action')
      $('form.response').attr('action', action + '/complete')
    })
  })
</script>