<header>
  <h1><%= t('.edit_response') %> <%= @survey.name %></h1>

  <%= button_to t(".delete"), survey_response_path(@survey.id, @response.id),:class => "delete-button", :method => :delete, :data => { :confirm => t(:confirm) } if can? :destroy, @response %>

</header>
<%= semantic_form_for [@survey, @response], :html => { :multipart => true } do |f| %>
  <%= f.semantic_fields_for :answers do |f| %>
    <% question = f.object.question %>

    <div class="question <%= "hidden sub_question" unless question.first_level?  %>" data-parent-id="<%= question.parent_id %>" data-nesting-level="<%= question.nesting_level %>">
      <%= image_tag question.image.url(:medium) if question.image.exists? %>
      <span><%= ResponseDecorator.question_number(question) %>)</span>
      <%= @response.input_tag_for(question, f) %>
      <%= f.input :question_id, :as => :hidden %>
    </div>
  <% end %>

  <%= f.actions do %>
  <% if @response.survey_public? %>
      <%= recaptcha_tags :display => { :theme => :clean } %>
      <%= f.action :submit, :as => :button, :label => t('.save_response'), :button_html => { :id => 'complete_button' } %>
    <% else %>
      <%= f.action :submit, :as => :button, :label => t('.save_as_draft') unless @response.complete? %>
      <%= f.action :submit, :as => :button, :label => t('.mark_as_complete'), :button_html => { :id => 'complete_button' }  %>
    <% end %>
  <% end %>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
    $('.date').datepicker({ dateFormat: "yy/mm/dd", changeMonth: true, changeYear: true });
    $('.max_length').each(function(index){
      $(this).charCount({
        allowed: $(this).data('max-length'),
        warning: 5,
        counterText: 'Characters left: '
      });
    });
    $('.star').each(function(index){
      $(this).raty({
        number: $(this).data('number-of-stars') || 5,
        score: $(this).data('score'),
        click: function() {
          $(this).prev().children('input').val($(this).raty('score'))
        }
      });
    });
    $('#complete_button').click(function(){
      var action = $('form.response').attr('action')
      $('form.response').attr('action', action + '/complete')
    })
    organize_sub_questions()
    $.datepicker.setDefaults($.datepicker.regional['<%= locale %>']);
  });
</script>
