<%= render "layouts/status_bar", :status => "collect" %>

<header>
  <%= link_to icon_for('icon-plus', t('.add_response')), survey_responses_path(@survey), :method => :post, :class => 'add_response' if can?(:create, Response.new(:survey => @survey)) && !@survey.expired?  %>
  <%= link_to icon_for('icon-table', t('.download_excel')), 'javascript:void(0);', :class => 'download_excel' unless @complete_responses.blank? %>
  <h2><%= t('.list_of_responses', :survey_name => @survey.name) %></h2>
</header>
<div>
  <% unless @responses.blank? %>
    <table class="surveys_table">
      <thead>
        <% @survey.identifier_questions.each do |question| %>
          <th><%= question.content %> </th>
        <% end %>
        <th><%= t("activerecord.attributes.response.location") %></th>
        <th><%= t(".last_updated_at") %></th>
        <th><%= t(".added_by") %></th>
        <th>&nbsp;</th>
        <th class="actions">&nbsp;</th>
      </thead>
      <tbody>
        <% @responses.each do |response| %>
        <tr class="survey_row <%= response.status %>">
          <% response.answers_for_identifier_questions.each do |answer| %>
            <td>
            <% if answer.photo_url.present? %>
              <%= image_tag answer.photo_url(:format => :thumb), :class => 'thumb' %>
            <% else %>  
              <%= answer.content %> 
            <% end %>
            </td>
          <% end %>
          <td>
            <%= response.location %>
          </td>
          <td>
            <%= I18n.localize(response.last_update) %>
          </td>
          <td>
            <%= @user_names[response.user_id] if response.user_id %>
          </td>
          <td>
          <% if response.status == 'complete' %>
            <p class="status"><%= t('.complete') %></p>
          <% else %>
            <p class="status"><%= t('.incomplete') %></p>
          <% end %>
          </td>

          <div id="dialog" title="<%= t('responses.excel.excel_dialog_title') %>">
            <p><%= t('responses.excel.excel_downloading_message') %></p>
          </div>

          <td class="actions">
            <%= link_to icon_for('icon-edit', 'Show'), survey_response_path(:id => response.id), :class => 'show_response' if can? :show, response %>
            <%= link_to icon_for('icon-edit', 'Edit'), edit_survey_response_path(:id => response.id), :class => 'edit_response' if can? :edit, response %>
            <%= link_to icon_for('icon-remove', 'Delete'), survey_response_path(:id => response.id), :method => :delete, :class => 'delete_response', :data => { :confirm => t(:confirm) } if can? :destroy, response %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @responses %>

<script type="text/javascript">
    new ExcelDownloader(<%= @survey.id %>)
</script>

