<%#= stylesheet_link_tag 'responses_index' %>

<h1> <%= t '.list_of_responses' %> </h1>
<%= link_to icon_for('icon-plus', t('.add_response')), survey_responses_path(@survey), :method => :post, :class => 'add_response' unless @survey.expired?  %>
<%= link_to icon_for('icon-table', t('.download_excel')), survey_responses_path(format: :xlsx), :class => 'download_excel' unless @complete_responses.blank? %>
<div>
  <% unless @responses.blank? %>
    <table class="surveys_table">
      <thead>
        <% @responses.first.answers_for_identifier_questions.each do |answer| %>
          <th><%= answer.question_content %> </th>
        <% end %>
        <th><%= t("activerecord.attributes.response.location") %></th>
      </thead>
      <tbody>
        <% @responses.each do |response| %>
        <tr class="survey_row <%= response.status %>">
          <% response.answers_for_identifier_questions.each do |answer| %>
            <td>
            <% if answer.photo.try(:exists?) %>
              <%= image_tag answer.thumb_url %>
            <% else %>  
              <%= answer.content %> 
            <% end %>
            </td>
          <% end %>
          <td>
            <%= response.location %>
          </td>
          <td>
          <% if response.status == 'complete' %>
            <p class="status"><%= t('.complete') %></p>
          <% else %>
            <p class="status"><%= t('.incomplete') %></p>
          <% end %>
          </td>

          <td class="actions">
            <%= link_to icon_for('icon-edit', 'Edit'), edit_survey_response_path(:id => response.id), :class => 'edit_response' %>
            <%= link_to icon_for('icon-remove', ''), survey_response_path(:id => response.id), :method => :delete, :class => 'delete_response', :data => { :confirm => t(:confirm) } if can? :destroy, response %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @responses %>
