<%= stylesheet_link_tag 'responses_index' %>

<h1> <%= t '.list_of_responses' %> </h1>
<%= link_to icon_for('icon-plus', 'Add response'), survey_responses_path(@survey), :method => :post, :class => 'add_response' %>
<%= link_to icon_for('icon-table', t('Download Excel')), survey_responses_path(format: :xls), :class => 'download_excel' %>
<div>
  <% unless @responses.blank? %>
    <table class="surveys_table">
      <thead>
        <% @responses.first.answers_for_identifier_questions.each do |answer| %>
          <th><%= answer.question_content %> </th>
        <% end %>
        <th><%= t('Actions') %></th>
        <th><%= t('Status') %></th>
      </thead>
      <tbody>
        <% @responses.each do |response| %>
        <tr class="survey_row">
          <% response.answers_for_identifier_questions.each do |answer| %>
            <td><%= answer.content %> </td>
          <% end %>
          <td>
            <%= link_to 'Edit', edit_survey_response_path(:id => response.id) %>
            <%= link_to image_tag("delete.png"), survey_response_path(:id => response.id), :method => :delete, :data => { :confirm => t(:confirm) } if can? :destroy, response %>
          </td>
          <td><%= response.status %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @responses %>
