<h1><%= t '.response_for_survey', :survey_name => @survey.name %></h1>

<%= semantic_form_for [@survey, @response] do |f| %>
  <%= f.semantic_fields_for :answers do |f| %>
    <% question = f.object.question %>

    <%= image_tag question.image.url(:medium) if question.image.exists? %>
    <% if question.type == 'RadioQuestion' %>
      <%= f.input :content, :label => question.content, :as => :radio, :collection => question.options.map(&:content), :required => question.mandatory %>

    <% elsif question.type == 'SingleLineQuestion' %>
      <%= f.input :content, :label => question.content, :as => :string, :required => question.mandatory, :hint => question.max_length ? "Maximum Length: #{question.max_length}" : nil %>

    <% elsif question.type == 'MultilineQuestion' %>
      <%= f.input :content,  :input_html => { :rows => 4, :cols => 100 }, :label => question.content, :as => :text, :required => question.mandatory, :hint => question.max_length ? "Maximum Length: #{question.max_length}" : nil %>

    <% elsif question.type == 'NumericQuestion' %>
      <% has_range = question.max_value && question.min_value %>
      <%= f.input :content, :label => question.content, :as => :number, :required => question.mandatory, :hint => has_range ? "The number should be between #{question.min_value} and #{question.max_value}" : nil %>

    <% elsif question.type == 'DateQuestion' %>
      <%= f.input :content, :label => question.content, :as => :string, :required => question.mandatory, :input_html => { :class => 'date' } %>

    <% elsif question.type == 'MultiChoiceQuestion' %>
      <%= f.input :option_ids, :as => :check_boxes, :label => question.content, :required => question.mandatory, :collection => question.options.map(&:id), :member_label => method(:get_option_content_from_option_id) %>
    <% end %>

    <%= f.input :question_id, :as => :hidden %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.date').datepicker({ dateFormat: "yy/mm/dd" });
  })
</script>