<h1> <%= t ".create_survey" %> </h1>
<%= semantic_form_for @survey, :url => surveys_backbone_create_url do |f| %>
	<%= f.inputs :id => "survey_details" do %>
		<%= f.input :name %>
		<%= f.input :expiry_date, :as => :string %>
		<%= f.input :description, :input_html => { :rows => 2 } %>
	<% end %>
	<%= f.actions do %>
     <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#survey_expiry_date').datepicker({ dateFormat: "yy/mm/dd" });
  })
</script>