<header>
  <h2><%= t ".build_survey" %></h2>
</header>

<div id="survey_builder">
  <div id="notifications">
    <p></p>
    <div id="spinner"></div>
  </div>

  <ul id="picker_pane" >
    <li><%= link_to t(".add_single_line_question"), "#", :id =>
    "add_single_line_question" %></li>
    <li><%= link_to t(".add_radio_question"), "#", :id =>
    "add_radio_question" %></li>
    <li><%= link_to t(".add_multiline_question"), "#", :id =>
    "add_multiline_question" %></li>
    <li><%= link_to t(".add_numeric_question"), "#", :id =>
    "add_numeric_question" %></li>
    <li><%= link_to t(".add_date_question"), "#", :id =>
    "add_date_question" %></li>
    <li><%= link_to t(".add_multi_choice_question"), "#", :id =>
    "add_multi_choice_question" %></li>
    <li><%= link_to t(".add_drop_down_question"), "#", :id =>
    "add_drop_down_question" %></li>
    <li><%= link_to t(".add_photo_question"), "#", :id =>
    "add_photo_question" %></li>
    <li><%= link_to t(".add_rating_question"), "#", :id =>"add_rating_question" %>
  </ul>

  <div id="settings_pane"></div>

  <div id="dummy_pane">
    <div id="dummy_survey_details"></div>
    <div id="dummy_questions"></div>
  </div>
  <div id="actions">
    <input id ="save" type="button" value="<%= t(".save_survey") %>"></input>
    <%= button_to t(".delete_survey"), survey_path(@survey.id), :method => :delete, :data => { :confirm => t(:confirm) } if can? :destroy, @survey %>
    <%= button_to t(".finalize_survey"), survey_finalize_path(@survey.id), :method => :put, :id => 'finalize_survey_button', :form => {:id => 'finalize_survey_form'} if can? :finalize, @survey %>
  </div>
</div>

<div id="loading_overlay">
<div class="spinner"></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    window.notifications_view = new SurveyBuilder.Views.NotificationsView;
    window.survey_builder = new SurveyBuilder.Views.SurveyBuilderView(<%= @survey.id %>);
    window.loading_overlay = new SurveyBuilder.Views.LoadingOverlayView
    window.loading_overlay.show_overlay()
    setTimeout(function(){
      $("#flash_messages").empty();
    }, 3000);
    $.datepicker.setDefaults($.datepicker.regional['<%= locale %>']);
    I18n.locale = "<%= locale %>";

    $("#finalize_survey_button").click(function(){
      if(!confirm("<%= t('surveys.confirm_finalize')%>")) {
        $("#finalize_survey_form").submit(function(){
          return false;
        });
      }  else {
        survey_builder.save_all_questions();
        $(this).bind('ajaxStop.finalize', function(){
          $(this).unbind('ajaxStop.finalize')
          $('#finalize_survey_form').submit();
        });
      }
    });
  });
</script>

<%= @survey.build_mustache_templates %>
