<%= stylesheet_link_tag 'backbone_survey_builder' %>
<h1 id="heading"> <%= t ".build_survey" %> </h1>

<div id="survey_builder">
  <div id="notifications">
    <p></p>
    <div id="spinner"></div>
  </div>
  <div id="sidebar">
    <ul>
      <li><a href="#picker_pane"><%= t(".pick_question_type") %></a></li>
      <li><a href="#settings_pane"><%= t(".question_settings") %></a></li>
    </ul>
    <div id="picker_pane">
      <%= link_to t(".add_single_line_question"), "#", :id => "add_single_line_question" %>
      <%= link_to t(".add_radio_question"), "#", :id => "add_radio_question" %>
      <%= link_to t(".add_multiline_question"), "#", :id => "add_multiline_question" %>
      <%= link_to t(".add_numeric_question"), "#", :id => "add_numeric_question" %>
    </div>
    <div id="settings_pane"></div>
  </div>

  <div id="dummy_pane"></div>
  <div id="save"><input type="button" value="<%= t(".save_survey") %>"></input></div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    window.notifications_view = new SurveyBuilder.Views.NotificationsView;
    window.survey_builder = new SurveyBuilder.Views.SurveyBuilderView(<%= @survey.id %>);
    setTimeout(function(){
      $("#flash_messages").empty();
    }, 3000);
  });
</script>

<%= render 'templates/build_mustache_templates' %>