<%= stylesheet_link_tag 'backbone_survey_builder' %>
<h1> <%= t ".create_survey" %> </h1>

<div id="survey_builder">
  <div id="sidebar">
    <div id="picker_pane">
      <%= link_to "Add a Radio Question", "#", :id => "add_radio_question" %>
    </div>
    <div id="settings_pane"></div>
  </div>

  <div id="dummy_pane"></div>
  <input type="button" value="Save" id="save"></input>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    window.survey_builder = new SurveyBuilder.Views.SurveyBuilderView(<%= @survey.id %>);
  });
</script>

<%= render 'templates/build_mustache_templates' %>