<h1> <%= t '.all_surveys' %> </h1>

<%= link_to t(".create_survey"), :action => "new" %>

<div>
  <table class="surveys_table">
    <thead>
      <th><%= Survey.human_attribute_name(:name) %></th>
      <th><%= Survey.human_attribute_name(:description) %></th>
      <th><%= Survey.human_attribute_name(:expiry_date) %></th>
      <th><%= Survey.human_attribute_name(:responses) %></th>
      <th><%= t ".operations" %></th>
    </thead>
    <tbody>
      <%count = 0 %>
      <% @surveys.each do |survey| %>
        <tr class="survey_row">
          <td><%= survey.name %></td>
          <td class="survey_description_<%= count %>">
            <div class="truncated_description">
              <p>
                <%= truncate(survey.description, :length => 150)%>
              </p>
            </div>
            <div class="more_description">
              <p><%= survey.description%></p>
            </div>
            <%= link_to t(".more"), '#', :class => 'more_description_link' %>
            <%= link_to t(".less"), '#', :class => 'less_description_link' %>
          </td>
          <td><%= survey.expiry_date %></td>
          <td><%= survey.responses.count %></td>
          <td>
            <%= link_to image_tag("add.png"), new_survey_response_path(survey.id) %>
            <%= link_to image_tag("delete.png"), survey_path(survey.id), :method => :delete, :confirm => t(:confirm) %>
          </td>
        </tr>
         <% count += 1 %>
      <% end %>
    </tbody>
  </table>
</div>

<%= will_paginate @surveys %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.more_description').hide();
    $('.less_description_link').hide();
    $('.survey_row').each(function(index) {
      new SurveyApp.SurveyRow($('.survey_description_' + index));
    });
});
</script>