<h1> All the Surveys </h1>

<%= link_to "Create new Survey", :action => "new" %>

<% @surveys.each do |survey| %>
  <div>
    <ul>
      <li>Name: <%= survey.name %></li>
      <li>Expires On: <%= survey.expiry_date %></li>
      <li>Description: <%= survey.description %></li>
      <%= link_to "Add a response for this survey", new_survey_response_path(survey.id) %>
      <%= link_to "Delete this survey", survey_path(survey.id), :method => :delete, :confirm => 'Are you sure?' %>
    </ul>
  </div>
<% end %>

<%= will_paginate @surveys %>