<%= stylesheet_link_tag 'surveys_list' %>

<h1> <%= t '.list_of_surveys' %> </h1>

<% if can? :create, Survey %>
  <div class="admin_tasks">
    <%= link_to t(".create_survey"), new_survey_path, :action => :post %>
    <div class="filters">
      <%= t(".show") %> : <%= link_to t(".published"), surveys_path(:published => true) %> |
      <%= link_to t(".unpublished"), surveys_path(:published => false) %> |
      <%= link_to t(".all"), surveys_path %>
    </div>
  </div>
<% end %>

<div>
  <% unless @surveys.blank? or @organization_names.blank? %>
    <table class="surveys_table">
      <thead>
        <th><%= Survey.human_attribute_name(:name) %></th>
        <th><%= Survey.human_attribute_name(:status) %></th>
        <th><%= Survey.human_attribute_name(:description) %></th>
        <th><%= Survey.human_attribute_name(:expiry_date) %></th>
        <th><%= Survey.human_attribute_name(:organization) %></th>
        <th><%= Survey.human_attribute_name(:responses) %></th>
        <th><%= t ".operations" %></th>
      </thead>
      <tbody>
        <% @surveys.each do |survey| %>
        <tr class="survey_row">
          <td><%= survey.name %></td>
          <td><%= survey.published ? "Published" : "Not Published" %></td>
          <td class="survey_description">
            <span class="truncated_description">
              <%= truncate(survey.description, :length => 120)%>
            </span>
            <div class="more_description">
              <%= survey.description%>
            </div>
            <% if survey.description.length > 120 %>
              <%= link_to t(".more"), '#', :class => 'more_description_link' %>
              <%= link_to t(".less"), '#', :class => 'less_description_link' %>
            <% end %>
          </td>
          <td class="survey_expiry_date"><%= survey.expiry_date %></td>
          <td><%= @organization_names[survey.organization_id] %></td>
          <td>
            <%= survey.responses.count %>
            <%= link_to image_tag("add.png", :title => t(".add_response")), new_survey_response_path(survey.id) %>
            <%= link_to button_tag(t ".list_responses"), survey_responses_path(survey.id) %>
          </td>
          <td class="cso_admin_operations">
            <% if survey.published %>
              <%= link_to button_tag(t ".share_survey"), survey_share_path(survey.id) if can? :share, survey %>
            <% else %>
              <%= link_to image_tag("edit.png"), surveys_build_path(survey.id), :title => t(".edit_survey") if can? :publish, survey %>
              <%= link_to button_tag(t ".publish_survey"), survey_publish_path(survey.id), :confirm => "Are you sure you want to publish this survey?" if can? :edit, survey %>
            <% end %>
            <%= link_to image_tag("delete.png"), survey_path(survey.id), :method => :delete, :data => { :confirm => t(:confirm) } if can? :destroy, survey %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<%= will_paginate @surveys %>

<script type="text/javascript">
$(document).ready(function() {
  $('.survey_row').each(function(_, elem) {
    new SurveyApp.SurveyRow($(elem));
  });
});
</script>
