<%= stylesheet_link_tag 'surveys_table' %>

<h1> <%= t '.all_surveys' %> </h1>

<% if user_currently_logged_in? %>
  <%= link_to t(".logout"), signout_path %>
<% else %>
  <%= link_to t(".sign_in"), '/auth/user_owner' %>
<% end %>

<%= link_to t(".create_survey"), :action => "new" %>

<div>
  <table class="surveys_table">
    <thead>
      <th><%= Survey.human_attribute_name(:name) %></th>
      <th><%= Survey.human_attribute_name(:description) %></th>
      <th><%= Survey.human_attribute_name(:expiry_date) %></th>
      <th><%= Survey.human_attribute_name(:responses) %></th>
      <th><%= t ".operations" %></th>
    </thead>
    <tbody>
      <% @surveys.each do |survey| %>
      <tr class="survey_row">
        <td><%= survey.name %></td>
        <td class="survey_description">
          <span class="truncated_description">
            <%= truncate(survey.description, :length => 120)%>
          </span>
          <div class="more_description">
            <%= survey.description%>
          </div>
          <% if survey.description.length > 120 %>
            <%= link_to t(".more"), '#', :class => 'more_description_link' %>
            <%= link_to t(".less"), '#', :class => 'less_description_link' %>
          <% end %>
        </td>
        <td class="survey_expiry_date"><%= survey.expiry_date %></td>
        <td><%= survey.responses.count %></td>
        <td>
          <%= link_to image_tag("add.png"), new_survey_response_path(survey.id) %>
          <%= link_to image_tag("delete.png"), survey_path(survey.id), :method => :delete, :data => { :confirm => t(:confirm) } %>
        </td>
      </tr>
      <% end %>
    </tbody>  
  </table>
</div>

<%= will_paginate @surveys %>

<script type="text/javascript">
$(document).ready(function() {
  $('.survey_row').each(function(_, elem) {
    new SurveyApp.SurveyRow($(elem));
  });
});
</script>
