<%= stylesheet_link_tag 'survey_builder' %>

<div class="settings_pane">
  <h1> <%= t ".create_survey" %> </h1>
  <%= link_to t(".add_question"), '#', :class => 'add_question_field' %>
</div>

<div class="form_pane">
  <%= semantic_form_for @survey do |f| %>
    <%= f.inputs :name, :expiry_date, :description %>

    <script type="text/html" id="question_template">
      <%= (render 'questions/new', :f => f) %>
    </script>

    <div id="questions"></div>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  new SurveyApp.Survey($(".settings_pane"), $('.form_pane'));
</script>