<%= stylesheet_link_tag 'survey_builder' %>
<h1> <%= t ".create_survey" %> </h1>

<div class="sidebar">
  <ul class="tabs">
    <li class="active"><%= link_to "Pick question", "#" %></li>
    <li><%= link_to "Settings", "#" %></li>
  </ul>

  <div class="question_picker_pane">
    <%= link_to t(".add_single_line_question"), '#', :class => 'add_question_field' %>
  </div>

  <div class="settings_pane"></div>
</div>

<div class="form_pane">
  <%= semantic_form_for @survey do |f| %>
    <%= f.inputs :name, :expiry_date, :description %>

    <script type="text/html" id="question_template">
      <%= (render 'questions/new', :f => f) %>
    </script>

    <div id="questions"></div>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  new SurveyApp.SurveyBuilder($(".question_picker_pane"), $('.form_pane'));
</script>