<%= stylesheet_link_tag 'survey_builder' %>
<h1> <%= t ".create_survey" %> </h1>

<div class="sidebar">
  <ul class="tabs">
    <li class="active" data-tab-target="#question_picker_pane"><%= t '.pick_question_type' %></li>
    <li data-tab-target="#settings_pane"><%= t '.question_settings' %></li>
  </ul>

  <div class="question_picker_pane" id="question_picker_pane">
    <div><%= link_to t(".add_single_line_question"), '#', :class => 'add_question_field', :data => { :type => "single_line" } %></div>
    
    <% unless Rails.env.production? %>
      <div><%= link_to "Add radio button question", '#', :class => 'add_question_field', :data => { :type => "radio" } %></div>
    <% end %>
  </div>

  <div class="settings_pane" id="settings_pane">
    <% question_count = 0 %>
    <%= semantic_form_for @survey do |f| %>
      <%= f.inputs :id => "survey_details" do %>
        <%= f.input :name %>
        <%= f.input :expiry_date, :as => :string %>
        <%= f.input :description, :input_html => { :rows => 2 } %>
      <% end %>

      <div id="questions">
        <%= f.semantic_fields_for(:questions) do |f|%>
          <%= f.inputs :id => "question_#{question_count}" do %>
            <%= f.input :content, :as => :string %>
            <%= f.input :max_length, :as => :number %>
            <%= f.input :image, :as => :file %>
            <%= f.input :type, :as => :hidden, :input_html => { :value => 'SingleLineQuestion' } %>
            <%= f.input :mandatory, :as => :boolean %>
          <% end %>
          <% question_count += 1 %>
        <% end %>
      </div>

      <%= f.actions do %>
        <%= f.action :submit, :as => :button %>
      <% end %>
    <% end %>
  </div>

  <script type="text/html" id="single_line_question_template">
    <%= (render 'questions/single_line').gsub('mustache_id', '{{id}}').html_safe %>
  </script>

  <script type="text/html" id="single_line_dummy_question_template">
    <%= (render 'dummies/single_line').gsub('mustache_id', '{{id}}').html_safe %>
  </script>

  <script type="text/html" id="radio_question_template">
    <%= (render 'questions/radio').gsub('mustache_id', '{{id}}').html_safe %>
  </script>

  <script type="text/html" id="radio_dummy_question_template">
    <%= (render 'dummies/radio').gsub('mustache_id', '{{id}}').html_safe %>
  </script>

</div>

<div class="dummy_form_display" id="dummy_form_display">
  
  <fieldset id="dummy_survey_details">
    <% if @survey.errors.any? %>
      <%= content_tag(:p, @survey.errors.full_messages.join(", "), :class => "inline_error") %>
    <% end %>
    <h2>
      <label name="survey[name]">
        <%= @survey.name || t(".untitled") %>
      </label>
    </h2>
    <label name="survey[expiry_date]">
      <%= @survey.expiry_date || t(".expiry_date") + ": 00/00/00" %>
    </label>
    <label name="survey[description]">
      <%= @survey.description || t(".description") %>
    </label>
    <hr />
  </fieldset>

  <div id="dummy_questions">
    <% if @survey.errors.any? %>
      <% @survey.questions.each_with_index do |question, index| %>
        <%= (render 'dummies/single_line', :question => question, :index => index).gsub('mustache_id', '{{id}}').html_safe %>
      <% end %>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    SurveyApp.SurveyBuilder.translations = { untitled: "<%= t('.untitled') %>"}
    var builder = new SurveyApp.SurveyBuilder($(".sidebar"), $("#dummy_form_display"), <%= question_count %>);
    SurveyApp.tabify($('.sidebar'));
    builder.create_element($("#survey_details"), $("#dummy_survey_details"));

    $('#questions').find("fieldset").each(function(index) {
      $(this).hide()
      builder.create_element($(this), $("#dummy_question_"+index));
    });

    $('#survey_expiry_date').datepicker({ dateFormat: "yy/mm/dd" });
  })
</script>