<%= stylesheet_link_tag 'survey_builder' %>
<h1> <%= t ".create_survey" %> </h1>

<div class="sidebar">
  <ul class="tabs">
    <li class="active" data-tab-target="#question_picker_pane"><%= t '.pick_question_type' %></li>
    <li data-tab-target="#settings_pane"><%= t '.question_settings' %></li>
  </ul>

  <div class="question_picker_pane" id="question_picker_pane">
    <%= link_to t(".add_single_line_question"), '#', :class => 'add_question_field' %>
  </div>

  <div class="settings_pane" id="settings_pane"></div>
</div>

<div class="form_pane" id="form_pane">
  <%= semantic_form_for @survey do |f| %>
    <%= f.inputs :name, :expiry_date, :description %>

    <script type="text/html" id="question_template">
      <%= (render 'questions/new', :f => f).gsub('mustache_id', '{{id}}').html_safe %>
    </script>

    <div id="questions"></div>

    <%= f.actions do %>
      <%= f.action :submit, :as => :button %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    new SurveyApp.SurveyBuilder($(".sidebar"), $('.form_pane'));
    SurveyApp.tabify($('.sidebar'));
  })
</script>