<%= stylesheet_link_tag 'survey_builder' %>
<h1> <%= t ".create_survey" %> </h1>

<div class="sidebar">
  <ul class="tabs">
    <li class="active" data-tab-target="#question_picker_pane"><%= t '.pick_question_type' %></li>
    <li data-tab-target="#settings_pane"><%= t '.question_settings' %></li>
  </ul>

  <div class="question_picker_pane" id="question_picker_pane">
    <%= link_to t(".add_single_line_question"), '#', :class => 'add_question_field' %>
  </div>

  <div class="settings_pane" id="settings_pane">
    <%= semantic_form_for @survey do |f| %>
      <%= f.inputs :id => "survey_details" do %>
        <%= f.input :name %>
        <%= f.input :expiry_date, :as => :string %>
        <%= f.input :description, :input_html => { :rows => 2 } %>
      <% end %>

      <script type="text/html" id="question_template">
        <%= (render 'questions/single_line', :f => f).gsub('mustache_id', '{{id}}').html_safe %>
      </script>

      <script type="text/html" id="dummy_question_template">
        <%= (render 'dummies/single_line', :f => f).gsub('mustache_id', '{{id}}').html_safe %>
      </script>

      <div id="questions"></div>

      <%= f.actions do %>
        <%= f.action :submit, :as => :button %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="dummy_form_display" id="dummy_form_display">
  <fieldset id="dummy_survey_details">
    <h2>
      <label name="survey[name]">
        <%= t ".untitled" %>
      </label>
    </h2>
    <label name="survey[expiry_date]">
      <%= t ".expiry_date" %> : 00/00/00
    </label>
    <label name="survey[description]">
      <%= t ".description" %>
    </label>
    <hr />
  </fieldset>

  <div id="dummy_questions"></div>

</div>

<script type="text/javascript">
  $(document).ready(function(){
    var builder = new SurveyApp.SurveyBuilder($(".sidebar"), $("#dummy_form_display"));
    SurveyApp.tabify($('.sidebar'));
    builder.create_element($("#survey_details"), $("#dummy_survey_details"));
    $('#survey_expiry_date').datepicker({ dateFormat: "yy/mm/dd" });
  })
</script>