<%= stylesheet_link_tag 'survey_builder' %>
<h1> <%= t ".create_survey" %> </h1>

<div class="sidebar">
  <ul class="tabs">
    <li class="active" data-tab-target="#question_picker_pane"><%= t '.pick_question_type' %></li>
    <li data-tab-target="#settings_pane"><%= t '.question_settings' %></li>
  </ul>

  <div class="question_picker_pane" id="question_picker_pane">
    <%= link_to t(".add_single_line_question"), '#', :class => 'add_question_field' %>
  </div>

  <div class="settings_pane" id="settings_pane">
    <%= semantic_form_for @survey do |f| %>
      <%= f.inputs :id => "survey_details" do %>
        <%= f.input :name %>
        <%= f.input :expiry_date, :as => :string %>
        <%= f.input :description, :input_html => { :rows => 2 } %>
      <% end %>

      <script type="text/html" id="question_template">
        <%= (render 'questions/new', :f => f).gsub('mustache_id', '{{id}}').html_safe %>
      </script>

      <div id="questions"></div>

      <%= f.actions do %>
        <%= f.action :submit, :as => :button %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="dummy_form_display" id="dummy_form_display">
  <%= semantic_form_for @survey do |f| %>
    <%= f.inputs :id => "dummy_survey_details", :disabled => true do %>
      <%= f.input :name %>
      <%= f.input :expiry_date, :as => :string %>
      <%= f.input :description, :input_html => { :rows => 2 } %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    new SurveyApp.SurveyBuilder($(".sidebar"));
    SurveyApp.tabify($('.sidebar'));
    new SurveyApp.SurveyElement($("#survey_details"), $("#dummy_survey_details"))
    $('#survey_expiry_date').datepicker({ dateFormat: "yy/mm/dd" });
  })
</script>