<h1> Create a new survey </h1>

<%= semantic_form_for @survey do |f| %>
  <%= f.inputs :name, :expiry_date, :description %>

  <%= link_to_add_question_fields("Add a Question", f) %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :button %>
  <% end %>
<% end %>