<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
    var chart, data, params={};


  function dateReportData(report_data_json) {
    var report_data = _(JSON.parse(report_data_json)).rest()

    _(report_data).each(function(dateString){
      dateString[0] = new Date(dateString[0]);
    });

    return report_data;
  }

  function drawChart() {
    <% @survey.questions_for_reports.each do |question| %>
      data = google.visualization.arrayToDataTable(JSON.parse('<%= @survey.report_data_for(question) %>'))
      <% if question.respond_to? :options %>
        chart = new google.visualization.PieChart(document.getElementById('chart_div_<%= question.id %>'));
        <!-- TODO: The logic to get the title with the number of answers should be in QuestionDecorator. Do this after develop is merged in. -->
        params['title'] = "<%= question.content + " " + I18n.t('surveys.report.total', :count => question.answers.complete.count) %>";
        chart.draw(data, params);
      <% elsif question.type == 'DateQuestion'%>
        data = new google.visualization.DataTable();
        chart = new google.visualization.ScatterChart(document.getElementById('chart_div_<%= question.id %>'));

        data.addColumn('date', 'Value');
        data.addColumn('number', 'Answer / Count');

        var report_data = dateReportData('<%= @survey.report_data_for(question) %>')

        data.addRows(report_data)
        params = {
          vAxis: {'title': 'Count'},
          hAxis: {'title': 'Answer'},
        }

        <!-- TODO: The logic to get the title with the number of answers should be in QuestionDecorator. Do this after develop is merged in. -->
        params['title'] = "<%= question.content + " " + I18n.t('surveys.report.total', :count => question.answers.complete.count) %>";
        chart.draw(data, params);
      <% elsif question.type == 'NumericQuestion' %>
        chart = new google.visualization.ScatterChart(document.getElementById('chart_div_<%= question.id %>'));
        params = {
          vAxis: {'title': 'Count', minValue: 0, maxValue: <%= question.answers.count %> },
          hAxis: {'title': 'Answer', minValue: <%= question.min_value_for_report %> , maxValue: <%= question.max_value_for_report %>},
        }
        <!-- TODO: The logic to get the title with the number of answers should be in QuestionDecorator. Do this after develop is merged in. -->
        params['title'] = "<%= question.content + " " + I18n.t('surveys.report.total', :count => question.answers.complete.count) %>";
        chart.draw(data, params);
      <% end %>
    <% end %>
  }
</script>
<header>
  <%= link_to icon_for('icon-table', t('.download_excel')), survey_responses_path(@survey,format: :xlsx), :class => 'download_excel'%>
  <h2><%= t '.reports' %></h2>
</header>
<div class="reports">
  <%= render "layouts/status_bar", :status => "analyze" %>
  <% @survey.questions_for_reports.each do |question| %>
    <div id="chart_div_<%= question.id %>"></div>
  <% end %>
  <div id="location_map">
    <p><%= t('.location') %></p>
    <%= gmaps4rails(@markers) %>
  </div>
</div>
