<!DOCTYPE html>
<html>
<head>
<title><%= t(:application_title) %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
  <div id="page">
    <%= render "layouts/header" %>

    <div id="content" role="content">
      <%= render "layouts/flash", :flash => flash %> 
      <%= yield %>
    </div>

    <div id="help">
      <%= yield :help %>
    </div>

    <%= render "layouts/footer" %>
  </div>
</body>
</html>
