<!DOCTYPE html>
<html>
<head>
<title><%= t(:application_title) %></title>
<%= stylesheet_link_tag    "application", :media => "all" %>
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>
<body>
  <%= render "layouts/nav" %>
  <div class = "container">
    <%= render "layouts/flash", :flash => flash %> 
    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
